# Ignore IDE/Editors directories -----------------------------------------------
/.fleet
/.idea
/.vscode
# ------------------------------------------------------------------------------

# Ignore configuration or test files -------------------------------------------
/tests/build/
/.phplint.cache/
.phpunit.result.cache
# ------------------------------------------------------------------------------

# Ignore dependency files ------------------------------------------------------
/vendor/
# ------------------------------------------------------------------------------

# Ignore project files ---------------------------------------------------------
/storage/**/*.key
/storage/**/*.log
/storage/postman/*.json
.rnd
.env
# ------------------------------------------------------------------------------
