/.phpunit.cache
/.fleet
/.idea
/.vscode
/vendor/
/storage/**/*.key
/storage/**/*.log
/storage/postman/*.json
/tests/build/coverage/*
!/tests/build/coverage/.gitignore
/tests/build/logs/*
!/tests/build/logs/.gitignore
.rnd
.env
supervisord.pid
.phpunit.result.cache
composer.lock
