<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    defaultTestSuite="All-Test"
    testdox="false"
    cacheResult="true"
    colors="true"
    columns="80"
    backupGlobals="false"
    processIsolation="false"
    stopOnDefect="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="true"
    bootstrap="config/bootstrap.test.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    backupStaticProperties="false"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <php>
        <env name="APP_ENV" value="testing" />

        <ini name="date.timezone" value="America/Bogota" />
        <ini name="intl.default_locale" value="C.UTF-8" />
        <ini name="memory_limit" value="2048M" />
    </php>

    <source>
        <include>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">database/Class</directory>
        </include>

        <exclude>
            <directory suffix=".php">app/Html</directory>
            <directory suffix=".php">app/Interfaces</directory>
            <directory suffix=".php">app/Rules</directory>
            <directory suffix=".php">app/Sockets</directory>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="All-Test">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
