<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    defaultTestSuite="All-Test"
    testdox="false"
    cacheResult="true"
    colors="true"
    columns="80"
    backupGlobals="false"
    processIsolation="false"
    stopOnDefect="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="true"
    bootstrap="tests/bootstrap.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
    backupStaticProperties="false"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <php>
        <env name="APP_ENV" value="testing" />
        <ini name="date.timezone" value="America/Bogota" />
        <ini name="intl.default_locale" value="C.UTF-8" />
        <ini name="memory_limit" value="2048M" />
    </php>

    <source>
        <include>
            <directory>app</directory>
            <directory>Database/</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="RobinIngelbrecht\PHPUnitPrettyPrint\PhpUnitExtension">
            <parameter name="enableByDefault" value="true" />
            <parameter name="displayProfiling" value="true" />
            <parameter name="useCompactMode" value="true" />
        </bootstrap>
    </extensions>

    <!-- <coverage>
        <report>
            <clover outputFile="tests/build/logs/clover.xml" />
            <html outputDirectory="tests/build/coverage" />
        </report>
    </coverage> -->

    <testsuites>
        <testsuite name="All-Test">
            <directory>tests/</directory>
        </testsuite>

        <testsuite name="Enums">
            <directory>tests/App/Enums/</directory>
        </testsuite>

        <testsuite name="Exceptions">
            <directory>tests/App/Exceptions/</directory>
        </testsuite>

        <testsuite name="Controllers">
            <directory>tests/App/Http/Controllers/</directory>
        </testsuite>

        <testsuite name="Middleware">
            <directory>tests/App/Http/Middleware/</directory>
        </testsuite>

        <testsuite name="Services">
            <directory>tests/App/Http/Services/</directory>
        </testsuite>

        <testsuite name="Interfaces">
            <directory>tests/App/Interfaces/</directory>
        </testsuite>

        <testsuite name="Models">
            <directory>tests/App/Models/</directory>
        </testsuite>

        <testsuite name="Traits">
            <directory>tests/App/Traits/</directory>
        </testsuite>

        <testsuite name="Class">
            <directory>tests/Database/Class/</directory>
        </testsuite>
    </testsuites>
</phpunit>
